@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;

  line-height: 1.7;
  overflow-x: hidden;
}
.dropdown-menu {
  display: flex !important;
  flex-direction: column !important;
}

/*--Header---*/
.header {
  background-color: #fff;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}
.nav-box1 ul {
  display: flex;
  justify-content: space-around;
}
.nav-box1 ul li {
  list-style: none;
  padding: 10px;
}
.nav-box1 ul li a {
  text-decoration: none;
  color: #555;
}
.nav-box1 ul li a:hover {
  color: #000;
  transform: translateY(10px);
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.input-box input {
  font-size: 50px;

  padding: 2px 50px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}
.input-box input:focus {
  outline: 2px solid rgba(33, 106, 241, 0.788);
}
.button-box button {
  font-size: 30px;
  padding: 18px 10px;
  background-color: rgba(33, 106, 241, 0.788);
  color: #fff;
  border: none;
  border-radius: 5px;
}
/*Background*/
.background {
  background-color: rgb(21, 197, 159);
  margin: 40px 0;
}
.back-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}
.back-box {
  padding: 40px;
}
.back-box h4 {
  text-align: center;
}
.back-box h1 {
  text-align: center;
}
.back-box p {
  text-align: center;
}
.back-box .btn-outline-dark {
  margin-left: 100px;
}
.back-box1 img {
  width: 400px;
}
/*Box Style*/
.box-style {
  margin: 30px 35px;
}
.style-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box-desing {
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
}
.box-desing:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease-out;
}
/*Web-Hosting*/
.web-hosting {
  margin: 30px 35px;
}
.web-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 60px;
}
.web-text {
  padding: 25px;
}
.web-text h4 {
  margin-bottom: 25px;
}
.web-text .btn-outline-dark {
  font-weight: 500;
}
.web-img {
  padding: 25px;
  margin-left: 45px;
}
.web-img img {
  border-radius: 10px;
}
.web-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding-top: 60px;
  padding-bottom: 60px;
}
.web-text1 {
  padding: 25px;
}
.input-desing input {
  width: 70%;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
}
.input-desing button {
  width: 20%;
  height: 51px;
  background-color: black;
}
.btn-input {
  padding-top: 8px;
}
.fa-search {
  color: #fff;
}
.a-tag {
  margin-top: 30px;
}
.a-tag a {
  text-decoration: none;
  padding: 10px;
  color: #000;
}
.a-tag a:hover {
  text-decoration: underline;
}

.a-question {
  margin: 70px 40px;
}
.a-question h1 {
  text-align: center;
}
.a-question h4 {
  text-align: center;
  margin-top: 40px;
}
/*Block*/
.block {
  width: 100%;
  height: 14vh;
  background-color: rgba(33, 106, 241, 0.788);
  margin: 20px 0;
}
.block-1 h2 {
  color: #fff;
  text-align: center;
  padding-top: 23px;
}
/*--Footer--*/
.footer {
  background-color: #000;
}
.head {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}
.head h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
}
.head h4 {
  text-align: center;
  color: #fff;
}
.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 60px 40px;
}
.main-box {
  display: flex;
  flex-direction: column;
}
.main-box p {
  color: #fff;
  font-weight: bold;
}
.main-box a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
}
.main-box a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-bottom {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}
.bottom-left {
  display: flex;
}
.bottom-left img {
  width: 200px;
  height: 70px;
}
.bottom-left p {
  text-align: center;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
.bottom-right {
  margin-right: 20px;
}
.bottom-right .fab {
  padding: 15px;
  font-size: 25px;
  color: #fff;
}
.last-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.last-left p {
  color: #fff;
  width: 70%;
}
.last-right {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.last-right div {
  padding-top: 10px;
  color: #fff;
  cursor: pointer;
}
.last-right div:hover {
  text-decoration: underline;
}
